html, body, .body{
	height: 100%;
}
.navbar-header{
	background-color: #3a5fcd !important;
}
.body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgba( 72, 118, 255, 0.13 );
	font-size: 18px;
}

#top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #3a5fcd;
	height: 45px;
	min-height: 45px;
	border-bottom: 2px solid #27408B;

}
#left-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#right-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#top a{

		color: White;
		padding-top: 10px;
		white-space: nowrap;
		text-decoration: none;
		background-color: #3a5fcd;
		padding-left: 30px;
		padding-right: 30px;
}
#top a:hover{
	background-color: RoyalBlue;
}
#top a:nth-child(first){
	padding-left: 10px;

}
#top a:nth-child(4){
}
#top a:nth-child(5){
}
#top a:nth-child(last){
	padding-right: 10px;
}
#main{
	background-color: White;
	margin-right: 20px;
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid RoyalBlue;
	border-radius: 4px;
	margin-left: 10px;
}
#main{
	display: flex;
	justify-content: space-between;

}
.center{
	display: flex;
	flex-basis: 85%;
	min-height: 200px;
	flex-direction: row;
	margin: 0 60px 0 60px;
	justify-content: center !important;
}

.enter-button{
	display: none;
}

#foot{
	background-color: #3a5fcd;
	color: white;
	margin-top: 10px;
	padding-right:10px;
	text-align: right;
}
#createroom{
	padding: 10px;
	color: CornflowerBlue;
}



::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:rgba( 0, 75, 255, 0.45 );
}

::-webkit-scrollbar-thumb:hover{
background-color:rgba( 0, 75, 255, 0.60 );
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
}

::-webkit-scrollbar{
width: 8px;
}
